<nav>
        <div id="burguer_menu" alt="Alternar menu lateral">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-hamburger-menu-icon-download-in-svg-png-gif-file-formats--crispy-user-interface-pack-icons-462145.png?f=webp&w=256" alt="">
            Menu
        </div>
        <a href="#" id="logo-hog">
            <img src="../static/img/logo.png" alt="Logotipo">
            <span class="titulo">Hogwarts Virtual</span>
        </a>
    </div>
    <div id="perfil">
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_gmail.png" alt="Gmail">
            Gmail
        </span>
        
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_drive.png" alt="Google Drive">
            Drive
        </span>
        
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_calendar.png" alt="Google Agenda">
            Agenda
        </span>
        
        <img id="profilepic" height="45px" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="Sua foto de perfil">
    </div>
</nav>