<nav>
        <div id="burguer_menu" alt="Alternar menu lateral">
            <input type="checkbox" id="toggle" class="menu-toggle">
            <label for="toggle" class="hamburguer">
                <span></span>
                <span></span>
                <span></span>
            </label>
            Menu
        </div>
        <a href="#" id="logo-ucs">
            <img src="https://ucsvirtual.ucs.br/midia/imagens/logo-ucs.png" alt="Logotipo do UCS Virtual">
            <span class="titulo">Virtual</span>
        </a>
    </div>
    <div id="perfil">
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_gmail.png" alt="Gmail">
            Gmail
        </span>
        
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_drive.png" alt="Google Drive">
            Drive
        </span>
        
        <span class="links">
            <img class="google" src="https://ucsvirtual.ucs.br/midia/imagens/logo_calendar.png" alt="Google Agenda">
            Agenda
        </span>
        
        <img id="profilepic" height="45px" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="Sua foto de perfil">
    </div>
</nav>